// CHECKSAMPLESWAP CONFIG

// SETTINGS
nextflow.enable.dsl=2
singularity.enabled = true

// ON-OFF
params.help = params.help ? true:false
params.keepbinvcf = params.help ? true:false

// PARAMETERS
params.chr = "chr1"
params.window = 5000000
params.normalize = 0

params.maxsnps = 20000

// SINGULARITY
singularity.runOptions = "--bind ${projectDir},${launchDir},/projects/"

// LOG 
// report {
//     enabled = true
//     overwrite = true
//     file = "checkSampleSwap.report.html"
//     title = "My Workflow Report"
// }